.paperStyle{
  position: 'relative';
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
  height: 300px;
}

.parrallaxCont{
  margin-top: 50px;
  height: 1450px;
}

.paperCont{ 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px; 
  height: 150px;
}
