.paperStyle{
  position: 'relative';
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
  height: 300px;
}

.parrallaxCont{
  margin-top: 50px;
  height: 1450px;
}

.background{
  /* The image used */
  background-image: url('../../Assets/bgPhoto.jpg');

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.paperCont{ 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px; 
  height: 150px;
}
