.parrallaxCont {
  margin-top: 0px;
  height: 2500px;
}

.titleText {
  margin-top: 75px;
  font-size: 72px;
  text-align: center;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-color: white;
}

.paperCont {
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 30px;
  padding-left: 30px;
  /* TODO: Change this height to a % of the table selector */
  height: 2200px;
  background-color: grey;
}

.card {
  margin-left: 50px;
  margin: 16px auto !important;
  width: 100%;
  max-width: 320px;
}

.cardImage {
  object-fit: contain;
  width: 200px;
  height: 200px;
}

.bioCardStyle {
  width: 350px;
  height: 650px;
}

.cardStatsSection {
  margin-top: 15px;
  padding-top: 10px;
  border-top-width: 1px;
  border-top-color: #dbdbdb;
  border-top-style: solid;
}

.bookCardStyle {
  width: 300px;
  height: 375px;
  background-color: pink;
}

.cardGrid {
  display: grid;
  justify-items: center;
  grid-template-columns: auto auto auto;
  gap: 60px;
  padding: 30px;
  margin-top: 5px;
}
