.parrallaxCont {
  margin-top: 0px;
  height: 1500px;
}

.titleText {
  margin-top: 75px;
  font-size: 72px;
  text-align: center;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-color: white;
}

.paperCont {
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
  /* TODO: Change this height to a % of the table selector */
  height: 1200px;
}
